body{
  font-family: sans-serif;
  box-sizing: border-box;

}
.main-sec {
    width: 50%;
    margin:50px auto;
    background: lightgray;
    text-align: center;
    padding: 20px;
    
}
.inp-form{
  width:80%;
  margin: auto;
  padding: 20px;
}
.inp-form div{
  text-align: left;
  margin: 20px 0;
}


input {
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
}
label{
  display: block;

}

button {
    align-self: center;
    background-color: #1d47bb;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    }
button:hover {
    background-color: rgb(155, 53, 53);
    color: rgb(243, 239, 239);
  }



  

.users {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  }


.usercard {
    text-align: left;
    width: 100%;
    background-color: rgb(160, 156, 149);
    border-radius: 5px;
    padding: .5rem;
    margin: 20px 0;
  }
