<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ne user</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="main-sec">
        <h1>Sign Up</h1>
        <form method="post" action="/user/add" class="inp-form">
            <div >
                <label for="name"> <h3>Your Name</h3></label>
            <input type="text" id="name" name="name" placeholder="enter name" value="" required/>
            </div>
            <div>
                <label for="email"> <h3>Enter Your Email</h3></label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com" value="" required/>
            </div>

            <button type="submit" class="btn">Add</button>
        </form>
    </div>
    
</body>

</html>